@font-face {
    font-family: CosmereDingbats;
    src: url('./assets/fonts/CosmereDingbats-Regular.otf') format("opentype");
}

@font-face {
    font-family: Taroca;
    src: url('./assets/fonts/Taroca.ttf') format("truetype");
}

@font-face {
    font-family: LaskiSans;
    src: url('./assets/fonts/LaskiSansRegular.otf') format("opentype");
}
@font-face {
    font-family: LaskiSans;
    src: url('./assets/fonts/LaskiSansBold.otf') format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: Penumbra;
    src: url('./assets/fonts/PenumbraSerifStdSemibold.otf') format("opentype");
}
@font-face {
    font-family: GoodOT;
    src: url('./assets/fonts/GoodOT.otf') format("opentype");
}

@font-face {
    font-family: Plantin;
    src: url('./assets/fonts/PlantinRegular.otf') format("opentype");
}

@font-face {
    font-family: Plantin;
    src: url('./assets/fonts/PlantinSemibold.otf') format("opentype");
    font-weight: bold;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}


.italic {
    font-style: italic;
    display: inline;
}

.bold {
    display: inline;
    font-weight: bold;
}

.italic-block {
    font-style: italic;
    display: block;
}

.bold-block {
    font-weight: bold;
    display: block;
}
