.datatable-container {

  .filter {
    display: inline-block;
    margin: 0 10px;
    font-size: 32px;
    text-decoration: underline;
    cursor: pointer;
  }

  tr {

    &.even {
      background-color: #DDD;
    }

    &.odd {
      background-color: #EEE;
    }
  }

  text-align: left;
  .art {
    width: 32px;
    height: 32px;
    object-fit: contain;
    max-width: 32px;
    overflow: hidden;

    img {

      width: 32px;
      height: 32px;
      object-fit: contain;
    }
  }

  .cost {
    font-family: Times, sans-serif;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.25;
  }

  .focus {
    border: 2px solid #333;
  }

  .investiture {
    background-color: #333 !important;
    color: white !important;
  }

  .charge {
    border-radius: 0;
    background-color: #333 !important;
    color: white !important;
  }
  .charges {
    border-radius: 0;
    border: 2px solid #333;
    //background-color: #333 !important;
    //color: white !important;
  }
}

