$CelestialBlue    : #3697AE;    // Magic Items
$FireballFuchsia  : #FF3C9C;    // Infusions 
$GalaxyGold       : #FFAC00;    // Free Actions
$GravityGrape     : #8A6C9E;    // Skills
$LunarBlue        : #64B9BC;    // Items
$OrbitOrange      : #F86129;    // Costly Actions
$OutrageousOrchid : #D573AF;    // Conditions
$RocketRed        : #FF5E63;    // Reactions
$TerrestrialTeal  : #27A89A;    // Effects

$color-action     : $OrbitOrange;
$color-freeaction : $GalaxyGold;
$color-reaction   : $RocketRed;
$color-condition  : $OutrageousOrchid;
$color-effect     : $TerrestrialTeal;
$color-infusion   : $FireballFuchsia;
$color-item       : $LunarBlue;
$color-magicitem  : $CelestialBlue;
$color-skill      : $GravityGrape;
