$LiftoffLemon: #f0ff0c;
$TerraGreen: #9cfc00;
$FireballFuchsia: #ff13fc;
$LunarBlue: #4fffeb;
$CosmicOrange: #fe7b25;
$VenusViolet: #6868fc;
$TerrestrialTeal: #05db8f;
$OutrageousOrchid: #e54eff;

$color-action: $TerraGreen;
$color-freeaction: $LiftoffLemon;
$color-reaction: $CosmicOrange;
$color-condition: $VenusViolet;
$color-effect: $TerrestrialTeal;
$color-infusion: $FireballFuchsia;
$color-item: white;
$color-magicitem: white;
$color-skill: $OutrageousOrchid;
