$CosmicOrange     : #fe7b25;
$FireballFuchsia  : #ff13fc;
$LiftoffLemon     : #f0ff0c;
$OutrageousOrchid : #e54eff;
$SolarWhite       : #ffffff;
$StardustWhite    : #dddddd;
$TerraGreen       : #9cfc00;
$TerrestrialTeal  : #05db8f;
$VenusViolet      : #6868fc;

$color-action     : $TerraGreen;
$color-freeaction : $LiftoffLemon;
$color-reaction   : $CosmicOrange;
$color-condition  : $VenusViolet;
$color-effect     : $TerrestrialTeal;
$color-infusion   : $FireballFuchsia;
$color-item       : $SolarWhite;
$color-magicitem  : $StardustWhite;
$color-skill      : $OutrageousOrchid;
